.idea
grpcCppPythonBoilerplate.cbp
cmake-build-debug
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
__pycache__/
*.py[cod]
protobuf/libproto.a

protobuf/proto/status.grpc.pb.cc
protobuf/proto/status.grpc.pb.h
protobuf/proto/status.pb.cc
protobuf/proto/status.pb.h
protobuf/proto/status_pb2.py
protobuf/proto/status_pb2_grpc.py
protobuf/proto/statusservice.grpc.pb.cc
protobuf/proto/statusservice.grpc.pb.h
protobuf/proto/statusservice.pb.cc
protobuf/proto/statusservice.pb.h
protobuf/proto/statusservice_pb2.py
protobuf/proto/statusservice_pb2_grpc.py


.vscode
build
logs
